In [1]:
# test

In [2]:
'''
description
which
can
be
used'''

'\ndescription\nwhich\ncan\nbe\nused'

In [3]:
variable = 24
variable_2 = "This is a text"
variable_3 = "This is also a test"
variable_4 = 45.7
variable_5 = False
variable_6 = None

In [4]:
variable_5

False

In [5]:
variable_3

'This is also a test'

In [6]:
variable_2

'This is a text'

In [7]:
import sys
type (sys)

module

In [8]:
long_string ='''this
is a very long
string'''

print (long_string)
type (long_string)

this
is a very long
string

str

In [9]:
new_v = round (2.8484, 2)

In [10]:
print (new_v)

2.85

In [11]:
y = 4.6
type (y)

float

In [12]:
x = 13
type (x)

int

In [13]:
round (y)

5

In [14]:
z = 4.5
round (z)

4

In [15]:
test = round (z)
type(test)

int

In [16]:
list_1 = ["This is a list", "that contains" , "both string", "and number: ", 234,34.56]
print(list_1)
type(list_1)

['This is a list', 'that contains', 'both string', 'and number: ', 234, 34.56]

list

In [17]:
tuple_1 = ("This is a tuple", "that contains" , "both string", "and number: ", 234,34.56)
print(tuple_1)
type(tuple_1)

('This is a tuple', 'that contains', 'both string', 'and number: ', 234, 34.56)

tuple

In [18]:
list_1[0]

'This is a list'

In [19]:
list_1[5]

34.56

In [20]:
list_1[5] = 67
print(list_1)

['This is a list', 'that contains', 'both string', 'and number: ', 234, 67]

In [21]:
turple_1[5] = 67

NameError: name 'turple_1' is not defined

In [22]:
this_dict = {
    "name": "Jupyter",
    "style": "Lab" ,
    "version": 3.3
    
}

In [23]:
this_dict["name"]

'Jupyter'

In [24]:
#
empty_str = ""
empty_int = int()
empty_float = float()
empty_list = []
empty_tuple = ()
empty_dict = {}

In [26]:
print(
type(empty_str), type(empty_int),
type(empty_float), type(empty_list),
type(empty_tuple), type(empty_dict)    
)

<class 'str'> <class 'int'> <class 'float'> <class 'list'> <class 'tuple'> <class 'dict'>

In [27]:
a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

In [28]:
a = 33
b = 200
if b > a:
    print("b is greater than a")
else:
    a +=1
    print("a is less than b, let's add 1")
    print (a)

b is greater than a

In [30]:
fruits= ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [31]:
a = 3
while a < 10:
    print(a)
    a = a + 1

3
4
5
6
7
8
9